.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background-color: #000;
    opacity: .5;
}

.ui-dialog {
    background: white;
    border-radius: 5px;
    z-index: 99999;
}

button.ui-button-icon-only{
    position: absolute;
    right: 0;
}

div.ui-dialog-titlebar {
    height: 0;

}

#wp-quick-post-draft-form {
    padding: 10px;
}

#wp-quick-post-draft-form h2 {
    text-align: center;
}

#wp-quick-post-draft-form fieldset {
    padding: none;
    border: none;
}

.wp-quick-post-draft-button-group {
    margin-top: 10px;
}

.wp-quick-post-draft-button-group > * {
    display: inline-block;
}

#wp-quick-post-draft-button {
    background-color: rgb(0, 115, 183);
    border-radius: 0px 3px 3px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
    position: fixed;
    z-index: 2147483647;
    padding: 0px;
    width: 44px;
    height: 40px;
    opacity: 1;
    display: block !important;
    top: 40px;
    left: -40px;
    transition: left 0.1s linear;
    color: white;
}

#wp-quick-post-draft-button:hover {
    left: 0;
}


/** Spinner **/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

.ajax-loader {
    display: inline-block;
    padding: 10px;
    line-height: 1;
}

.ajax-loader img {
    animation: spinner .6s linear infinite;
}

.wpqpd-success {
    background-color: #DFF0D8;
    border-left: 5px solid #5CB85C;
    padding: 5px;
    height: auto;
    max-width: 260px;
}
